<template lang="pug">
.wrapper(v-if="caseStudy")

  //- Header
  .relative.bg-green-500(class="dark:bg-gray-100")
    .absolute.inset-0.bg-white(class="hidden md:block left-1/2")
      svg.absolute.inset-0.text-green-500(xmlns="http://www.w3.org/2000/svg" style="fill: currentColor" width="100%" height="100%" preserveAspectRatio="xMinYMax slice" viewBox="0 0 2651.444 1089.227")
        defs
          mask#image-mask
            path(fill="white" d="M-1121.9-3.942,1489.186,0s173.464,527.881-198.832,800.188c-160.832,117.636-491.027,34.961-843.407,106.236s-611.075,178.862-997.775,178.862H-1121.9Z" transform="translate(1121.897 2)")
        
        //- Case study image
        image(width="100%" height="100%" preserveAspectRatio="xMidYMid slice" :xlink:href="'/images/' + caseStudy.image" mask="url(#image-mask)")
    
    //- Header content
    .relative.max-w-screen-xl.mx-auto
      .flex.flex-row.flex-wrap.items-center.py-36
        .px-8.w-full.max-w-prose.space-y-2(class="md:w-1/2 ")
          //- Back button
          .absolute.top-4.left-4
            nuxt-link(to="/case-studies" custom v-slot="{ href, route, navigate, isActive, isExactActive }")
              button.text-white.p-4.inline-block.font-medium.text-lg(@click="navigate" title="Return to Case Studies" class="hover:underline dark:text-gray-900")
                font-awesome-icon.mr-2(icon="angle-left")
                | Return to Case Studies
          //- Title
          h1.text-4xl.font-bold.text-white(v-if="caseStudy.title" class="dark:text-gray-900") {{ caseStudy.title }}
          //- Subtitle
          h2.text-2xl.text-white.pb-8(v-if="caseStudy.subtitle" class="dark:text-gray-800") {{ caseStudy.subtitle }}
  
  main
    .max-w-screen-xl.mx-auto
      div(class="p-4 md:p-8")
        .grid.grid-cols-1(class="lg:grid-cols-3")
          
          .transform.-translate-y-20.col-span-1(class="md:col-span-2")
            //- Main article
            article.w-full.bg-white.border-gray-900.border-2.rounded-md.p-8
              nuxt-content.prose.prose-lg.prose-blue(:document="caseStudy")  
            
            //- Header image credit
            .text-center.p-4(v-if="caseStudy.imageCredit")
               p.text-sm.text-gray-500 Header image from #[a.underline(:href="caseStudy.imageCredit" target="_blank" rel="noopener") Pexels]
          
          //- Side bar
          aside.col-span-1.space-y-8(class="px-4 md:px-8")
            
            //- Goal section
            .space-y-2
              h4.text-lg.font-bold.mt-6 Goals
              GoalDropdown(v-for="goal of caseStudy.goals" :key="goal" :slug="goal")
                
            //- Parameter section
            .space-y-2
              h4.text-lg.font-bold.mt-6 Parameters
              ParameterCard(v-for="(parameter, index) of caseStudy.parameters" :key="parameter.parameter" :slug="parameter.parameter" :value="parameter.value")
                
  SiteFooter
</template>

<script>
export default {
  data() {
    return {
      goals: [],
    }
  },
  async asyncData({ $content, params }) {
    const caseStudy = await $content('case-studies', params.slug).fetch()
    return { caseStudy }
  },
}
</script>
