<template lang="pug">
.wrapper
  PageHeader(:dark="true" :is-full="false" title="Case Studies" color="bg-green-500")
    GoalFilter(:selected.sync="selectedGoal")

  main.max-w-screen-xl.mx-auto
    div(class="px-4 md:px-8 lg:px-8")
      .grid.gap-4(class="grid-cols-1 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-12")
        CaseStudyTile(v-for="(caseStudy, index) of filteredCaseStudies" :key="index" :case-study="caseStudy")

  SiteFooter
</template>

<script>
export default {
  data() {
    return {
      selectedGoal: undefined,
    }
  },
  async asyncData({ $content, params }) {
    const caseStudies = await $content('case-studies').fetch()
    return { caseStudies }
  },
  mounted() {
    if (this.$route.query.type) {
      this.selectedGoal = this.$route.query.type
    }
  },
  computed: {
    filteredCaseStudies() {
      if (typeof this.selectedGoal === 'undefined') {
        return this.caseStudies
      } else {
        return this.caseStudies.filter((cs) => {
          return cs.goals.indexOf(this.selectedGoal) !== -1
        })
      }
    },
  },
}
</script>
