<template lang="pug">
.wrapper
  PageHeader(:dark="true" :is-full="false" title="Download" subtitle="Download and print a PDF version of the playbook"  color="bg-pink-500")

  main(role="main")
    .max-w-screen-md.mx-auto
      .tile.p-12.mx-4.group(class="text-center md:text-left")
        .grid.grid-cols-4.gap-8

          .col-span-4(class="md:col-span-1")
            //- Download document preview
            img.transform.-rotate-3.w-32.mx-auto(src="/playbook-preview.png" class="group" alt="Preview of Playbook PDF")
          
          .col-span-4(class="md:col-span-3")
            .h-full.flex.flex-col.justify-center.mx-4
              //- Download information
              h1.text-black.text-2xl.font-bold Youth Social Media Playbook
              h2.text-gray-700.text-xl.font-medium PDF format (489 KB)
              
              //- Download Link
              a(href="/social-media-youth-playbook.pdf" target="_blank")
                Button.button-pink.mt-4(title="Download Playbook as a PDF")
                  font-awesome-icon.mr-2(icon="cloud-download-alt")
                  | Download #[.sr-only Playbook as a PDF]

      //- Additional info about download
      .py-12.text-center
        nuxt-content.prose.prose-lg.prose-blue.max-w-screen-sm.mx-auto(:document="document")
  SiteFooter
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const document = await $content('download').fetch()
    return { document }
  },
}
</script>
