<template lang="pug">
section.tile.p-8(role="region" :aria-label="content.title")
  //- Title
  h1.text-xl.font-bold.mb-2.text-gray-800 {{ content.title }}
  
  //- Content
  nuxt-content.prose.prose-lg.prose-blue(:document="content")
</template>

<script>
export default {
  name: 'AboutSection',
  props: {
    content: {
      type: Object,
      required: true,
    },
  },
}
</script>
