<template lang="pug">
button.burger(:class="open ? ['!right-64'] : ['bg-yellow-400 dark:bg-gray-900 md:hidden']" aria-label="Toggle navigation menu")
  .bg-white.w-8.h-1.rounded-full.absolute.origin-center.transform.duration-500(:class="[open ? 'rotate-45 -translate-y-1/2 -translate-x-1/2 w-2/3 left-1/2 top-1/2' : ' -translate-x-1/2 -translate-y-1/2 w-1/2 left-1/2 top-3']")
  .bg-white.w-8.h-1.rounded-full.absolute.origin-center.transform.duration-500(:class="[open ? 'opacity-0' : 'opacity-100',' -translate-y-1/2 -translate-x-1/2 w-2/3 left-1/2 top-1/2']")
  .bg-white.w-8.h-1.rounded-full.absolute.origin-center.transform.duration-500(:class="[open ? '-rotate-45 translate-y-1/2 -translate-x-1/2 w-2/3 left-1/2 bottom-1/2' : ' -translate-x-1/2 translate-y-1/2 w-1/2 left-1/2 bottom-3']")
</template>

<script>
export default {
  name: 'Burger',
  props: {
    open: {
      type: Boolean,
      required: true,
    },
  },
}
</script>

<style scoped>
.burger {
  /* Main */
  @apply rounded-md h-12 w-14 fixed right-4 top-4 z-20;
  /* Animation */
  @apply transition-all duration-300;
  /* Focus */
  @apply focus:outline-none focus:ring-2;
}
</style>
