<template lang="pug">
  button(type="button" role="button" :title="title")
    slot
</template>

<script>
export default {
  name: 'Button',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
/* Button styles */
button {
  /* Main */
  @apply outline-none border-2 border-gray-900 bg-white text-black rounded-md px-10 py-2 relative inline-block font-medium text-lg cursor-pointer overflow-hidden;
  /* Animation */
  @apply transition-all duration-300;
  /* Hover */
  @apply hover:bg-gray-100;
  /* Focus */
  @apply focus:ring-2;
  /* Active */
  @apply active:bg-gray-200;
}

button.button-plain {
  /* Main */
  @apply p-0 text-left;
  /* Hover */
  @apply hover:bg-transparent;
}

button.button-subtle {
  /* Main */
  @apply border-transparent bg-gray-100 text-gray-700;
  /* Hover */
  @apply hover:bg-white hover:border-gray-900;
  /* Active */
  @apply active:bg-gray-200;
}

button.button-white {
  /* Main */
  @apply border-transparent bg-white text-gray-700;
  /* Hover */
  @apply hover:bg-white hover:border-gray-900 hover:text-black;
  /* Active */
  @apply active:bg-gray-200;
}

button.button-pink {
  /* Main */
  @apply border-gray-900 bg-pink-500 text-white;
  /* Hover */
  @apply hover:bg-pink-400 hover:border-gray-900;
  /* Active */
  @apply active:bg-pink-500;
  /* Dark */
  @apply dark:bg-gray-900 dark:hover:bg-gray-800 dark:active:bg-black;
}
</style>
