<template lang="pug">
nuxt-link(:to="`/case-studies/${caseStudy.slug}`")
  button.tile.group.overflow-hidden.max-w-sm(type="button" class="focus:outline-none focus:ring-2" :aria-label="'View case study ' + caseStudy.title")
    .text-left.relative.block.h-full.group
      //- Image
      img#case-study-image.object-center.object-cover.w-96.h-40.transition-all.ease-in-out.transform(class="scale-105 group-focus:scale-110 group-hover:scale-110" :src="'/images/thumbnails/' + caseStudy.image" alt="Image for case study" height="160px" width="384px")
    
      //- Content
      .p-8
        //- Title
        .title.text-gray-800.text-2xl.font-bold(class="group-focus:underline group-hover:underline") {{ caseStudy.title }}
      
        //- Subtitle
        .subtitle.text-gray-600.text-lg.font-regular {{ caseStudy.subtitle }}
      
        //- Goal badges
        .flex.w-full.justify-start.items-center.space-x-2.mt-4
          img.h-10.w-10(v-for="goal of goals" :src="goal.icon" :alt="'Goal:' + goal.title" :title="'Goal: ' + goal.title" height="40px" width="40px")
</template>

<script>
export default {
  name: 'CaseStudyTile',
  props: {
    caseStudy: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      goals: [],
    }
  },
  async fetch() {
    // Fetch case studies goals before load
    this.goals = await this.$content('goals')
      .where({ type: { $in: this.caseStudy.goals } })
      .only(['title', 'content', 'type', 'icon'])
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
}
</script>
