<template lang="pug">
.flex.items-center.justify-center.h-12.px-4.space-x-2
  .text-white High contrast mode
  button.relative.bg-white.h-6.w-12.rounded-full.cursor-pointer.transition-all(class="ring-white ring-offset-2 ring-offset-black hover:ring-2 focus:outline-none focus:ring-2" @click="toggle()" aria-label="Toggle high contrast mode" title="Toggle high contrast mode")
    .relative.h-6.w-6.rounded-full.transition-all.ease-in-out.duration-300.transform(:class="[ enabled ? 'bg-green-500 translate-x-6 scale-75' : 'bg-red-500  scale-75' ]")
</template>

<script>
export default {
  name: 'ContrastToggle',
  data() {
    return {
      enabled: false,
    }
  },
  mounted() {
    this.enabled = !(
      localStorage.theme === 'light' || !('theme' in localStorage)
    )
  },
  methods: {
    toggle() {
      if (localStorage.theme === 'light') {
        this.enabled = true
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      } else {
        this.enabled = false
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      }
    },
  },
}
</script>
