<template lang="pug">
a(:href="link" target="_blank" :title="title" rel="noopener")
  font-awesome-icon(icon="external-link-alt" transform="shrink-5")
</template>

<script>
export default {
  name: 'ExternalLink',
  props: {
    link: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: false,
      default: 'External link',
    },
  },
}
</script>
