<template lang="pug">
.col-span-2
  .tile.group.relative.overflow-hidden(class="md:h-96" )
    //- SVG Wave
    .absolute.inset-0.top-auto.transform.transition-all.ease-in-out.opacity-0.translate-y-12(class="hidden md:block group-hover:translate-y-0 group-hover:opacity-100")
      svg(:class="[goal.color]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 450")
        path(fill="currentColor" fill-opacity="1" d="M0-89.042S94.023-119,454.023-119c164.52,0,376.047-60.228,573.21-70.01C1262.732-200.7,1440-156.042,1440-156.042v415.08H0Z" transform="translate(0 190.962)")
    
    //- Case studies button
    .absolute.z-20.top-auto.inset-3
      .relative.transform.transition-all.ease-in-out
        nuxt-link(:to="`/case-studies?type=${goal.type}`" custom v-slot="{ href, route, navigate, isActive, isExactActive }")
          Button.w-full.button-subtle(title="View case studies for this goal" @click.native="navigate")
            | View case studies
    
    //- Tile content
    .flex.flex-col.items-start.justify-start
      .relative.z-10.p-8.pb-28
        //- Goal illustration
        img.h-20.w-20.mb-4(:src="goal.icon" :alt="goal.title")
        
        //- Goal title
        h1.font-bold.text-gray-800(class="text-xl md:text-2xl") {{ goal.title }}
        
        //- Goal description
        p.text-lg.text-gray-800 {{ goal.content }}
        
</template>

<script>
export default {
  name: 'GoalTile',
  props: {
    goal: {
      type: Object,
      required: true,
    },
  },
}
</script>
