<template lang="pug">
.relative.pt-4
  .w-full.max-w-xs.mx-auto

    //- Dropdown
    button.bg-white.rounded-md.border-2.border-gray-900.text-left.w-full.text-left.flex.items-center.justify-start.p-3.h-16(ref="select" @click="toggle()" title="Toggle goal filter" class="focus:outline-none focus:ring-2")
      //- Icon
      img.h-8.w-8(v-if="selectedGoal" :src="selectedGoal.icon")
      
      //- Text
      .text-lg.font-medium.flex-grow.px-2 {{ dropdownLabel }}
      
      //- Angle
      .px-4
        font-awesome-icon.transform(icon="angle-right" transform="grow-5" :class="expanded ? 'rotate-90' : 'rotate-0'")

    .relative.overflow-hidden.mt-2.rounded-md.border-2.border-gray-900.bg-gray-100(v-if="expanded")
      //- All goals
      button.goal-option(@click="selectGoal(undefined)")
        //- Text
        h3.text-lg.font-medium.flex-grow.px-2 All goals
        
        //- Check
        .px-4(v-if="!selected")
          font-awesome-icon.transform(icon="check")
      
      //- Individual goals
      button.goal-option(v-for="goal in goals" @click="selectGoal(goal.slug)")
        //- Icon
        img.h-8.w-8(:src="goal.icon")
        
        //- Text
        h3.text-lg.font-medium.flex-grow.px-2 {{ goal.title }}
        
        //- Check
        .px-4(v-if="goal.slug === selected")
          font-awesome-icon.transform(icon="check")
</template>

<script>
export default {
  name: 'GoalFilter',
  props: {
    selected: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      expanded: false,
      goals: [],
    }
  },
  computed: {
    dropdownLabel() {
      if (!this.selectedGoal) {
        return 'All goals'
      } else {
        return this.selectedGoal.title
      }
    },
    selectedGoal() {
      return this.goals.find((g) => {
        return g.slug === this.selected
      })
    },
  },
  async fetch() {
    this.goals = await this.$content('goals')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
  methods: {
    toggle() {
      this.expanded = !this.expanded
    },
    selectGoal(slug) {
      this.$emit('update:selected', slug)
      this.expanded = false
      this.$refs.select.focus()
    },
  },
}
</script>

<style scoped>
.goal-option {
  /* Main */
  @apply w-full flex items-center justify-start p-3 cursor-pointer text-left;
  /* Hover */
  @apply hover:bg-gray-200;
  /* Focus */
  @apply focus:outline-none focus:bg-gray-200;
}
</style>
