<template lang="pug">
.bg-gray-100.relative.py-20
  .max-w-screen-xl.mx-auto.relative.z-10

    //- Header
    SectionHeader(title="What's your goal?" subtitle="A good to place to start is thinking about what you want to achieve using social media." :centered="true")

    //- Tiles
    .p-4(class="md:p-8")
      .grid.grid-cols-2(class="gap-4 md:gap-8 md:grid-cols-4 lg:grid-cols-6")
        //- Goal tiles
        GoalTile(v-for="(goal, index) of goals" :key="index" :goal="goal")
        
        //- Header tile
        .col-span-2
          .flex.items-center.justify-center.h-full(class="text-center mt-20 md:mt-0 md:text-left")
            .relative.z-10.space-y-4
              h1.text-gray-800.text-xl.font-medium Social media is so much more than just cats and brands. It can be used to support and structure all kinds of projects and goals.
              p.text-gray-800.text-lg From creating new ways for young people to contribute, to broadening your reach, to structuring workshops and skills sessions. Once you know your overall goal, you can choose the #[strong parameters] that best support it.

      //- Scroll button
      .text-center.mt-20
        Button(@click.native="$emit('scrollTo', 'parameters')" title="Scroll to next section")
          font-awesome-icon(icon="angle-down")
</template>

<script>
export default {
  data() {
    return {
      goals: [],
    }
  },
  async fetch() {
    this.goals = await this.$content('goals')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
}
</script>
