<template lang="pug">
Button.w-full.button-plain.group(v-if="goal" @click.native="expanded = !expanded" title="Learn more about this goal")
  .flex.items-center.justify-start.p-2
    //- Goal icon
    img.h-10.w-10.mr-2(:src="goal.icon" :alt="'Icon for ' + goal.title" height="40px" width="40px")

    //- Goal title
    h3.text-lg.font-medium.flex-grow {{ goal.title }}

    //- Dropdown chevron
    .h-10.w-10.rounded-full.flex.items-center.justify-center.transition-all.ease-in-out(class="group-hover:bg-gray-100")
      font-awesome-icon.transform.transition-all.ease-in-out(icon="angle-right" :class="[expanded ? 'rotate-90' : 'rotate-0']")
  
  //- Dropdown content
  transition(name="fade" appear mode="out-in")
    .border-t-2.border-gray-900.bg-white.p-4(v-if="expanded")
      h3.text-base.font-medium {{ goal.content }}
</template>

<script>
export default {
  name: 'GoalDropdown',
  props: {
    slug: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      expanded: false,
      goal: undefined,
    }
  },
  async fetch() {
    this.goal = await this.$content('goals', this.slug)
      .only(['icon', 'title', 'content'])
      .fetch()
  },
}
</script>
