<template lang="pug">
  Modal(v-on:close="close()" :visible="visible" id="infomodal" :title="title || 'Info Modal'" modal-width="max-w-screen-sm")
    //- Illustration / icon
    img.h-16.w-16.mb-4(v-if="icon" :src="icon" :alt="title")
    
    //- Title
    h1.font-medium.text-gray-500(class="dark:text-gray-800") {{ title }}
    
    //- Subtitle
    h2.text-3xl.font-bold.text-gray-800(class="dark:text-gray-900") {{ subtitle }}
    
    //- Content
    .mt-4
      p.text-lg.text-gray-800 {{ content }}

</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'InfoModal',
  computed: {
    ...mapState({
      visible: (state) => state.infoModal.visible,
      icon: (state) => state.infoModal.icon,
      title: (state) => state.infoModal.title,
      subtitle: (state) => state.infoModal.subtitle,
      content: (state) => state.infoModal.content,
    }),
  },
  methods: {
    ...mapActions({
      close: 'closeInfoModal',
    }),
  },
}
</script>
