<template lang="pug">
//- Introduction
#introduction.pb-10
  .max-w-screen-xl.mx-auto.relative
    div.p-4(class="md:p-8")
      .tile.max-w-screen-lg.mx-auto(class="p-8 md:p-12 col-span-4 md:col-span-6 lg:col-span-4")
        //- Content
        nuxt-content.prose.prose-lg.prose-blue.max-w-none(:document="document")

        //- Scroll button
        .text-center.mt-12.mb-4
          Button(@click.native="$emit('scrollTo', 'goals')" title="Scroll to next section")
            font-awesome-icon(icon="angle-down")
</template>

<script>
export default {
  name: 'Introduction',
  data() {
    return {
      document: undefined,
    }
  },
  async fetch() {
    this.document = await this.$content('introduction')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
}
</script>
