<template lang="pug">
.fixed.inset-0.z-50.transition-all.duration-500(:id="id" :ref="id" :class="visible ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'" :aria-hidden="!visible" :aria-label="title" :open="visible")
  //- Backdrop
  .bg-black.bg-opacity-80.absolute.inset-0(@click="$emit('close')" class="dark:bg-opacity-100")
  
  //- Modal container
  transition(name="fade")
    .mx-auto.relative.z-50(v-if="visible" :class="['px-2 sm:px-4', modalWidth]" role="dialog" aria-modal="true")
      //- Close button
      button.animate-appear.transition-all.transform.float-right.w-12.h-12.m-2.flex.items-center.justify-center.text-white.cursor-pointer.rounded-full.bg-white.bg-opacity-0(ref="closeButton" @click="$emit('close')" class="focus:outline-none focus:ring-2 focus:bg-opacity-10 hover:bg-opacity-10" aria-label="Close modal")
        font-awesome-icon(icon="times" transform="grow-10")
      .clear-both
      
      //- Modal box
      .bg-white.rounded-xl.animate-slideup(class="p-8 md:p-12")
        slot
</template>

<script>
import focusTrap from 'focus-trap-js'

export default {
  name: 'Modal',
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    visible: {
      type: Boolean,
      required: true,
    },
    modalWidth: {
      type: String,
      default: 'max-w-screen-lg',
      required: false,
    },
  },
  watch: {
    async visible(newVal) {
      await this.$nextTick()
      if (newVal) {
        this.$refs.closeButton.focus()
      }
    },
  },
  mounted() {
    const modal = this.$refs[this.id]
    this._keyListener = (e) => {
      // If the modal is not visible return
      if (!this.visible) return

      // Trap focus in the modal
      focusTrap(e, modal)

      // Listen for escape key and close modal when detected
      const keyCode = e.which || e.keyCode

      // ESC key (27)
      if (keyCode === 27) {
        e.preventDefault()

        this.$emit('close')
      }
    }
    this._boundListener = this._keyListener.bind(this)

    // Add keydown event listener
    document.addEventListener('keydown', this._boundListener)
  },
  beforeDestroy() {
    // Remove keydown event listener
    document.removeEventListener('keydown', this._boundListener)
  },
}
</script>
