<template lang="pug">
div
  //- Backdrop
  .fixed.inset-0.z-20.bg-yellow-400.transition-all.duration-300(:class="['md:hidden dark:bg-gray-900 dark:bg-opacity-90', open ? 'bg-opacity-90' : 'bg-opacity-0 dark:bg-opacity-0 pointer-events-none']" @click="close(false)")
  
  //- Burger
  Burger(@click.native="toggle()" :open.sync="open")
 
  //- Nav
  nav.duration-300.transform.transition-all(:class="open ? [] : ['translate-x-full md:translate-x-0']" role="navigation")
    
    //- Nav links
    NavLink(v-for="link in navLinks" :key="link.slug" :link="link" @click.native="close(true)")
</template>

<script>
export default {
  data() {
    return {
      open: false,
      navLinks: [
        { title: 'Playbook', path: '/', slug: 'playbook' },
        { title: 'Case Studies', path: '/case-studies', slug: 'case-studies' },
        { title: 'Download', path: '/download', slug: 'download' },
        { title: 'About', path: '/about', slug: 'about' },
      ],
    }
  },
  mounted() {
    this._keyListener = (e) => {
      // If the nav is not visible return
      if (!this.open) return

      // Listen for escape key and close nav when detected
      const keyCode = e.which || e.keyCode

      // ESC key (27)
      if (keyCode === 27) {
        e.preventDefault()

        this.close(false)
      }
    }
    this._boundListener = this._keyListener.bind(this)

    // Add keydown event listener
    document.addEventListener('keydown', this._boundListener)
  },
  beforeDestroy() {
    // Remove keydown event listener
    document.removeEventListener('keydown', this._boundListener)
  },
  methods: {
    toggle() {
      this.open = !this.open
    },
    close(scrollToTop) {
      this.open = false
      if (scrollToTop) {
        window.scrollTo(0, 0)
      }
    },
  },
}
</script>

<style scoped>
nav {
  /* Main */
  @apply z-50 fixed inset-0 left-auto bg-white flex-col flex items-center p-4 space-y-4 w-64 rounded-l-md inset-4 bottom-auto right-0 border-gray-900 border-2 border-r-0;
  /* MD */
  @apply md:flex-row md:justify-between md:space-y-0 md:space-x-2 md:bottom-auto md:w-auto md:p-2;
}
</style>
