<template lang="pug">
nuxt-link(:to="link.path" custom v-slot="{ href, route, navigate, isActive, isExactActive }")
  button(:class="['outline-none focus:outline-none focus:ring-2', { 'active': isActive, 'exact-active': isExactActive }]" :data-slug="link.slug" @click="navigate")
    | {{ link.title }}
</template>

<script>
export default {
  name: 'NavLink',
  props: {
    link: {
      type: Object,
      required: true,
    },
  },
  computed: {
    classes() {
      return this.$route.path === this.link.path ? [this.link.color] : ['']
    },
  },
}
</script>

<style scoped>
button {
  @apply h-10 w-full px-6 rounded-md flex items-center justify-center cursor-pointer text-gray-800 font-bold;
  /* MD */
  @apply md:w-auto;
  /* Animation */
  /* @apply transition-all ease-in-out duration-300; */
  /* Hover */
  @apply hover:bg-gray-100;
}

button.exact-active[data-slug='playbook'] {
  @apply bg-yellow-400 text-white dark:bg-gray-900;
}

button.active[data-slug='case-studies'] {
  @apply bg-green-500 text-white dark:bg-gray-900;
}

button.active[data-slug='download'] {
  @apply bg-pink-500 text-white dark:bg-gray-900;
}

button.active[data-slug='about'] {
  @apply bg-blue-500 text-white dark:bg-gray-900;
}
</style>
