<template lang="pug">
header.bg-white.relative(role="banner")
  .relative.z-10.transition-all.duration-500.ease-out.box-content(:class="expanded ? 'h-screen' : animated ? 'h-96' : 'h-auto'")
    .relative.max-w-screen-xl.mx-auto.py-24.transition-all.duration-500.ease-out.flex.items-center.h-full
      .px-8.max-w-prose.space-y-2.w-full.mx-auto.pt-10.text-center
        //- Title
        h1.text-4xl.font-bold(v-if="title" :class="dark ? 'text-white dark:text-gray-900' : 'text-gray-900'") {{ title }}
        
        //- Subtitle
        h2.text-2xl(v-if="subtitle" :class="dark ? 'text-white dark:text-gray-800' : 'text-gray-800'") {{ subtitle }}
        
        //- Slot
        slot
  
  //- Wave
  .absolute.inset-0.-bottom-40.z-0(:class="[color, 'dark:bg-gray-100']")
    svg(height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMax slice" viewBox="0 0 1440 320")
      path(fill="white" fill-opacity="1" :d="wave" transform="translate(1440 320) scale(-1 -.25)")
</template>

<script>
export default {
  name: 'PageHeader',
  props: {
    title: {
      type: String,
      required: false,
    },
    subtitle: {
      type: String,
      required: false,
    },
    image: {
      type: String,
      required: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
    animated: {
      type: Boolean,
      default: false,
    },
    expanded: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      required: false,
      default: 'text-gray-800',
    },
  },
  data() {
    return {
      wave: (() => {
        switch (this.$route.path) {
          case '/case-studies': {
            return 'M0,32L48,58.7C96,85,192,139,288,138.7C384,139,480,85,576,58.7C672,32,768,32,864,37.3C960,43,1056,53,1152,74.7C1248,96,1344,128,1392,144L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'
          }
          case '/download': {
            return 'M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,90.7C672,64,768,32,864,32C960,32,1056,64,1152,90.7C1248,117,1344,139,1392,149.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'
          }
          case '/about': {
            return 'M0,128L48,138.7C96,149,192,171,288,197.3C384,224,480,256,576,250.7C672,245,768,203,864,181.3C960,160,1056,160,1152,149.3C1248,139,1344,117,1392,106.7L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'
          }
          default: {
            return 'M0,96L48,117.3C96,139,192,181,288,165.3C384,149,480,75,576,64C672,53,768,107,864,133.3C960,160,1056,160,1152,176C1248,192,1344,224,1392,240L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'
          }
        }
      })(),
    }
  },
}
</script>
