<template lang="pug">
li.flex
  //- Icon
  .icon(:class="[color, 'dark:bg-gray-900']")
    font-awesome-icon(:icon="icon" transform="shrink-4")

  //- Text
  | {{ item.value }}
</template>

<script>
export default {
  name: 'ParameterTip',
  props: {
    item: {
      type: Object,
      required: true,
    },
    parameter: {
      type: Object,
      required: true,
    },
  },
  computed: {
    icon() {
      return this.item.type === 'pro' ? 'check' : 'times'
    },
    color() {
      return this.item.type === 'pro' ? this.parameter.color : 'bg-gray-500'
    },
  },
}
</script>

<style scoped>
.icon {
  /* Main */
  @apply transform mr-2 flex-shrink-0 text-white rounded-md h-6 w-6 flex justify-center items-center;
  /* Animation */
  @apply animate-appear transition-all;
}
</style>
