<template lang="pug">
.bg-gradient-to-b.from-gray-200.to-white.relative
  //- Wave
  div(class="absolute inset-0 z-0 bottom-auto")
    .h-96.bg-purple-800(class="dark:bg-gray-100")
    svg.text-purple-800.h-24(class="dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 0 1440 80" preserveAspectRatio="none")
      path(fill="currentColor" fill-opacity="1" d="M0,0H1440V28.339C960.651,11.355,672.307,80,386.113,80,211.535,80,83.568,53.983,0,49.149,0,29.559,0,0,0,0Z")
  
  //- Content
  .relative.z-10
    .py-20(class="md:pb-10")
      .max-w-screen-xl.mx-auto.text-center

        //- Header
        SectionHeader(title="Parameters" subtitle="Simple decisions can have a HUGE impact on how your project unfolds." :dark="true" :centered="true")
        
        //- Section description
        .max-w-screen-md.mx-auto.p-4(class="md:px-8")
          h3.text-base.text-white.opacity-90.italic(class="dark:text-gray-900") Use the options below to explore different ways of setting things up. Find the options that best suit you, your overall goals, and the young people you are working with.
    
    //- Parameters
    .max-w-screen-lg.mx-auto(class="px-4 md:px-8 space-y-16")
      Parameter.tile.px-6.py-8(class="md:px-8" v-for="(parameter, index) in parameters" :key="index" :parameter="parameter")
      
    //- Scroll button
    .text-center.my-20
      Button(@click.native="$emit('scrollTo', 'principles')" title="Scroll to next section")
        font-awesome-icon(icon="angle-down")
</template>

<script>
export default {
  name: 'Parameters',
  data() {
    return {
      parameters: [],
    }
  },
  async fetch() {
    this.parameters = await this.$content('parameters')
      .sortBy('order')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
}
</script>
