<template lang="pug">
  Modal(v-on:close="close()" :visible="visible && !infoModalVisible" id="parametermodal" :title="parameter ? parameter.title : 'Parameter modal'")
    Parameter(v-if="parameter" :parameter="parameter" :initial-value="initialValue")
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'ParameterModal',
  data() {
    return {
      parameters: [],
    }
  },
  async fetch() {
    this.parameters = await this.$content('parameters')
      .sortBy('order')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
  computed: {
    ...mapState({
      infoModalVisible: (state) => state.infoModal.visible,
      visible: (state) => state.parameterModal.visible,
      initialValue: (state) => state.parameterModal.value,
      slug: (state) => state.parameterModal.slug,
    }),
    parameter() {
      return this.parameters.find((i) => i.slug === this.slug)
    },
  },
  methods: {
    ...mapActions({
      close: 'closeParameterModal',
    }),
  },
}
</script>
