<template lang="pug">
.relative(v-if="parameter" :id="parameter.slug")
  SectionHeader(:title="`${parameter.order}. ${parameter.title}`" :subtitle="parameter.subtitle" :padded="false")

  .grid.grid-cols-3.relative.z-10.gap-8.pt-8(class="md:grid-cols-6 lg:gap-16" role="tablist")
    .col-span-3
      //- Parameter options
      .flex.flex-col.justify-left.space-y-4
        ParameterOption(v-for="(option, index) in parameter.options" :key="index" :id="`${parameter.slug}-option-${index}`" :option="option" :selected="selectedOption == index" :color="parameter.color" @click.native="selectedOption = index" v-on:show-info="openModal()")
  
    .col-span-3
      transition(name="slide-fade" tag="div" mode="out-in" appear)
        //- Option 1 tips
        div(v-if="selectedOption == 0" key="0" role="tabpanel" :aria-label="parameter.options[0].title")
          ul.space-y-2.mt-2
            ParameterTip(v-for="(item, index) in tipsForOption(0)" :key="index" :item="item" :parameter="parameter")
        
        //- Option 2 tips
        div(v-if="selectedOption == 1" key="1" role="tabpanel" :aria-label="parameter.options[1].title")
          ul.space-y-2.mt-2
            ParameterTip.mt-2(v-for="(item, index) in tipsForOption(1)" :key="index" :item="item" :parameter="parameter")
        
        //- Option 3 tips
        div(v-if="selectedOption == 2" key="2" role="tabpanel" :aria-label="parameter.options[2].title")
          ul.space-y-2.mt-2
            ParameterTip.mt-2(v-for="(item, index) in tipsForOption(2)" :key="index" :item="item" :parameter="parameter")

</template>

<script>
export default {
  props: ['parameter', 'tile', 'initialValue'],
  data() {
    return {
      selectedOption: 0,
    }
  },
  mounted() {
    const optionSlugs = this.parameter.options.map((o) => {
      return o.slug
    })

    if (this.initialValue) {
      this.selectedOption = optionSlugs.indexOf(this.initialValue)
    }
  },
  methods: {
    tipsForOption(option) {
      let tips = []
      for (const value of this.parameter.options[option].pros) {
        tips.push({
          type: 'pro',
          value: value,
        })
      }
      for (const value of this.parameter.options[option].cons) {
        tips.push({
          type: 'con',
          value: value,
        })
      }
      return tips
    },
    openModal() {
      this.$store.dispatch('openInfoModal', {
        title: this.parameter.title,
        subtitle: this.parameter.options[this.selectedOption].title,
        content: this.parameter.options[this.selectedOption].modal,
      })
    },
  },
}
</script>

<style scoped>
/* Tip animations */
.slide-fade-enter-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
</style>
