<template lang="pug">
button.option(:id="id" :class="classes" type="button" role="tab" )
  //- Option title
  .text-left.pr-12 {{ option.title }}

  //- Info button
  transition(name="fade")
    button.absolute.inset-0.left-auto.flex.justify-center.items-center.w-12.bg-black.bg-opacity-0.transition-colors(v-if="selected" role="button" @click.stop="showInfo()" class="focus:rounded focus:outline-none focus:ring-2 focus:ring-offset-black focus:ring-offset-2  hover:bg-opacity-10" :title="'More information about ' + option.title")
      font-awesome-icon.text-white(icon="question-circle" transform="grow-4")
</template>

<script>
export default {
  name: 'ParameterOption',
  props: {
    id: {
      type: String,
      required: true,
    },
    option: {
      type: Object,
      required: true,
    },
    selected: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      required: true,
    },
  },
  computed: {
    classes() {
      if (this.selected) {
        return [this.color, 'selected dark:bg-gray-900']
      }
    },
  },
  methods: {
    select() {
      this.$emit('select')
    },
    showInfo() {
      this.$emit('show-info')
    },
  },
}
</script>

<style scoped>
button.option {
  /* Main */
  @apply p-4 w-full border-2 border-gray-900 rounded-md relative inline-block font-medium text-base cursor-pointer;
  /* Focus */
  @apply focus:outline-none focus:ring-2;
}
button.option:not(.selected) {
  /* Main */
  @apply bg-white text-gray-800;
  /* Hover */
  @apply hover:bg-gray-100;
}
button.option.selected {
  /* Main */
  @apply font-medium text-white;
}
</style>
