<template lang="pug">
Button.button-plain.w-full(v-if="parameter" @click.native="openModal({slug, value})" title="Learn more about this parameter")
  .p-2
    //- Parameter title
    h3.text-sm.font-normal.text-gray-500(v-if="parameter") {{ parameter.title }}
    
    .flex.items-start.justify-start
      //- Check icon
      .animate-appear.transition-all.transform.m-1.mr-2.flex-shrink-0.text-white.rounded-md.h-5.w-5.flex.justify-center.items-center(class="bg-green-500 dark:bg-gray-900")
        font-awesome-icon(icon="check" transform="shrink-6")
      
      //- Parameter value
      h3.text-lg.font-medium {{ parameterValue }}
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ParameterCard',
  props: {
    slug: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      parameter: undefined,
    }
  },
  async fetch() {
    this.parameter = await this.$content('parameters', this.slug)
      .only(['title', 'options'])
      .fetch()
  },
  computed: {
    parameterValue() {
      try {
        return this.parameter.options.find((o) => o.slug == this.value).title
      } catch (error) {
        return '?'
      }
    },
  },
  methods: {
    ...mapActions({
      openModal: 'openParameterModal',
    }),
  },
}
</script>
