<template lang="pug">
#principles.bg-green-500.py-20(class="dark:bg-white")
  .max-w-screen-xl.mx-auto
    SectionHeader(title="Overall Principles" subtitle="When it comes to any social media project with young people, there are some general principles that are ALWAYS useful to keep in mind." :dark="true" :centered="true")
    
    //- Principle tiles
    .grid.grid-cols-2.px-4.py-16(class="gap-4 md:gap-8 md:px-8 md:grid-cols-4 lg:grid-cols-6")
      PrincipleTile.col-span-2(v-for="(principle, index) of principles" :key="index" :title="principle.title" :content="principle.content" :icon="principle.icon" :modal="principle.modal")

  //- Scroll button
  .text-center.mt-20
    Button(@click.native="$emit('scrollTo', 'home')" title="Scroll to top of page")
      font-awesome-icon(icon="angle-up")
</template>

<script>
export default {
  data() {
    return {
      principles: [],
    }
  },
  async fetch() {
    this.principles = await this.$content('principles')
      .fetch()
      .catch((err) => {
        console.error(err)
      })
  },
}
</script>
