<template lang="pug">
.tile.relative.overflow-hidden.pb-12(@mouseenter="hovering = true" @mouseleave="hovering = false")
  .p-8
    //- Principle illustration
    img.h-20.w-20.mb-4(:src="icon" :alt="title")
    
    //- Principle title
    h1.font-bold.text-gray-800(class="text-xl md:text-2xl") {{ title }}
    
    //- Principle content
    p.text-lg.text-gray-800 {{ content }}
  
  .absolute.top-auto.inset-4
    //- Learn more button
    Button.button-subtle.w-full(@click.native="openModal()" :title="'Learn more about ' + title")
      | Learn more
</template>

<script>
export default {
  name: 'PrincipleTile',
  props: {
    title: {
      type: String,
      required: true,
    },
    content: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    modal: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      hovering: false,
    }
  },
  methods: {
    openModal() {
      this.$store.dispatch('openInfoModal', {
        icon: this.icon,
        title: 'Principle',
        subtitle: this.title,
        content: this.modal,
      })
    },
  },
}
</script>
