<template lang="pug">
.max-w-prose(:class="[padded ? 'p-4 md:px-8' : '', centered ? 'text-center mx-auto' : 'text-left']")
  //- Title
  h1.font-bold(:class="[centered ? 'text-3xl md:text-4xl mb-4' : 'text-2xl md:text-3xl', dark ? 'text-white dark:text-gray-900' : 'text-gray-900']") {{ title }}
  
  //- Subtitle
  h2(:class="[centered ? 'texl-lg md:text-xl' : 'text-base md:text-lg', dark ? 'text-white dark:text-gray-800' : 'text-gray-600']") {{ subtitle }}
</template>

<script>
export default {
  name: 'SectionHeader',
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    centered: {
      type: Boolean,
      required: false,
      default: false,
    },
    dark: {
      type: Boolean,
      required: false,
      default: false,
    },
    padded: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
}
</script>
