<template lang="pug">
footer.bg-gray-900.relative(role="contentinfo")

  //- Wave
  .absolute.inset-0.z-0.bottom-auto
    svg(:class="[color, 'dark:text-white']" height="80" width="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 80")
      path(fill="currentColor" fill-opacity="1" d="M0,0H1440V28.339C960.651,11.355,672.307,80,386.113,80,211.535,80,83.568,53.983,0,49.149,0,29.559,0,0,0,0Z")
      
  .text-center.space-y-4.relative.z-10.px-8.pt-40.pb-20
  
      
    //- CC Icons
    .flex.items-center.justify-center
      a.underline(href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener" title="Link to Creative Commons license page")
        .space-x-4.text-3xl
          font-awesome-icon.text-white(:icon="['fab', 'creative-commons']")
          font-awesome-icon.text-white(:icon="['fab', 'creative-commons-by']")
    
    //- Note
    p.font-normal.text-base.text-white
      | Youth Social Media Playbook v{{ $config.version }}
    
    //- Licence info
    p.font-normal.text-base.text-white.max-w-prose.mx-auto
      | Content on this site is licensed and available under a #[a.underline(href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener") Creative Commons Attribution 4.0 International] license except for VIC fonts which belong to the #[a.underline(href="https://www.vic.gov.au/" target="_blank" rel="noopener") Victorian Government] and may only be used on authorised products/collateral.
    
    ContrastToggle
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      required: false,
      default: 'text-white',
    },
  },
}
</script>
