@font-face {
  font-family: 'VIC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/VIC-Regular.ttf') format('truetype');
  src: url('../fonts/VIC-Regular.woff') format('woff');
  src: url('../fonts/VIC-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'VIC';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/VIC-Medium.ttf') format('truetype');
  src: url('../fonts/VIC-Medium.woff') format('woff');
  src: url('../fonts/VIC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'VIC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/VIC-SemiBold.ttf') format('truetype');
  src: url('../fonts/VIC-SemiBold.woff') format('woff');
  src: url('../fonts/VIC-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'VIC';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/VIC-Bold.ttf') format('truetype');
  src: url('../fonts/VIC-Bold.woff') format('woff');
  src: url('../fonts/VIC-Bold.woff2') format('woff2');
}
