/* Import fonts */
@import '~assets/css/fonts';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Disable scroll if modal visible */
body.modal-active {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Sticky footer support */
#__nuxt,
#__layout {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  @apply z-10;
}

/* Tile styles */
.tile {
  @apply bg-white border-2 border-gray-900 rounded-md;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
