<template lang="pug">
#app
  Nav
  //- Router
  Nuxt
  ParameterModal
  InfoModal
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  watch: {
    modalsVisible() {
      const bodyElement = document.querySelector('body')
      if (this.modalsVisible) {
        bodyElement.classList.add('modal-active')
      } else {
        bodyElement.classList.remove('modal-active')
      }
    },
  },
  computed: {
    ...mapGetters(['modalsVisible']),
  },
  mounted() {
    if (localStorage.theme === 'light' || !('theme' in localStorage)) {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }
  },
}
</script>

<style scoped>
#app {
  height: 100%; /* Required for sticky footer if content takes up less than full screen height  */
}
</style>
