<template lang="pug">
.wrapper
  PageHeader(:dark="true" :is-full="false" title="About" subtitle="Learn more about the playbook and why it was made" color="bg-blue-500")
  
  main(role="main")
    .mx-auto.max-w-screen-xl
      .grid.grid-cols-6.gap-4.px-4(class="md:gap-8 md:px-8")
        //- Left column
        div(class="col-span-6 lg:col-span-4")
          .grid.grid-cols-2.gap-4(class="md:gap-8")
            //- Project
            div(class="col-span-2")
              AboutSection(:content="content.project")
            //- Team
            div(class="col-span-2")
              AboutSection(:content="content.team")

        //- Right column
        div(class="col-span-6 lg:col-span-2")
          .grid.grid-cols-2.gap-4(class="md:gap-8")
            //- Funding
            div(class="col-span-2 sm:col-span-1 lg:col-span-2")
              AboutSection(:content="content.funding")
            //- Contact
            div(class="col-span-2 sm:col-span-1 lg:col-span-2")
              AboutSection(:content="content.contact")

  SiteFooter
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const content = {
      project: await $content('about', 'project').fetch(),
      team: await $content('about', 'team').fetch(),
      funding: await $content('about', 'funding').fetch(),
      contact: await $content('about', 'contact').fetch(),
    }
    return { content }
  },
}
</script>
