<template lang="pug">
.wrapper(ref="home")

  PageHeader(:dark="false" :animated="true" :expanded="headerExpanded" title="Youth Social Media Playbook" subtitle="Useful tips and practical advice for using social media in your projects" color="bg-yellow-400")
  
    .pt-4(v-if="headerExpanded")
      Button(@click.native="getStarted()" title="Get Started")
        | Get Started

  main(role="main")
    //- Introduction
    div(ref="introduction")
      Introduction(v-on:scrollTo="scrollTo($event)")

    //- Goals
    div(ref="goals")
      Goals(v-on:scrollTo="scrollTo($event)")
    
    //- Parameters
    div(ref="parameters")
      Parameters(v-on:scrollTo="scrollTo($event)")

    //- Principles
    div(ref="principles")
      Principles(v-on:scrollTo="scrollTo($event)")

  //- SiteFooter
  SiteFooter(color="text-green-500")
</template>

<script>
export default {
  head() {
    return {
      title: 'Youth Social Media Playbook',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Useful tips and practical advice for using social media in your projects',
        },
      ],
    }
  },
  data() {
    return {
      headerExpanded: true,
    }
  },
  methods: {
    getStarted() {
      if (this.headerExpanded) {
        this.headerExpanded = false
      } else {
        this.scrollTo('introduction')
      }
    },
    scrollTo(el) {
      this.$scrollTo(this.$refs[el], 300)
    },
  },
}
</script>
